.sidebar {
  display: none !important;
}

h1{
  font-size: 16px;
  page-break-before: always;
  color: black;
}

.content {
  margin: 0 auto;
  width: 100%;
  float: none;
  display: initial;
  font-size: 12px;
  color: black;
}

.container {
  width: 100%;
  float: none;
  display: initial;
  padding-left:  1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.content > div > section{
  width: 12cm;
}

img{
  height: 3cm;
}
