<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    </div>

    <nav>
      <ul data-gumshoe class="sidebar-nav">
        {{ range .Data.Pages -}}
        <li>
          <span><a data-scroll href="#{{ .File.BaseFileName }}">{{ .Title }}</a></span>
        </li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}} {{end}}</p>
  </div>
</aside>
